USE [master]
GO
/****** Object:  Database [Pawnshop_DB]    Script Date: 25.10.2025 17:10:08 ******/
CREATE DATABASE [Pawnshop_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pawnshop_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pawnshop_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pawnshop_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pawnshop_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pawnshop_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pawnshop_DB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[SNILS] [int] NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Passport_Series] [smallint] NOT NULL,
	[Passport_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SNILS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Passport_Series] ASC,
	[Passport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Date_Of_Redemption] [date] NOT NULL,
	[Comission] [money] NOT NULL,
	[Redemption_Info] [nvarchar](15) NOT NULL,
	[Sale_Info] [nvarchar](15) NOT NULL,
	[Client_SNILS] [int] NOT NULL,
	[Item_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Count_Contracts_per_Client]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Count_Contracts_per_Client]
as 
	select
		Client.SNILS as SNILS,
		count([Contract].Number) as Num_Of_Contracts
	from Client 
	left join [Contract] on Client.SNILS = [Contract].Client_SNILS
	group by Client.SNILS
GO
/****** Object:  View [dbo].[Clients_With_No_Active_Contracts]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Clients_With_No_Active_Contracts]
as
	select *
	from Client
	where Client.SNILS not in (
		select
			Client.SNILS as SNILS
		from Client 
		join [Contract] on Client.SNILS = [Contract].Client_SNILS
		where [Contract].Redemption_Info = N'Not redeemed'
		or [Contract].Sale_Info = N'Sold'
		)
GO
/****** Object:  Table [dbo].[Item]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Wear] [tinyint] NOT NULL,
	[Type_ID] [int] NOT NULL,
 CONSTRAINT [PK__Item__3214EC279F95FAA1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Contains_Material]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Contains_Material](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NOT NULL,
	[Material_Name] [nvarchar](15) NOT NULL,
	[Weight] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Type]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 25.10.2025 17:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Periodic_Table_Name] [nvarchar](15) NOT NULL,
	[Cost_Per_Gramm] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Periodic_Table_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contract]    Script Date: 25.10.2025 17:10:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Contract] ON [dbo].[Contract]
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([Client_SNILS])
REFERENCES [dbo].[Client] ([SNILS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK__Contract__Item_I__5535A963] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Item] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK__Contract__Item_I__5535A963]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__Type_ID__44FF419A] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Item_Type] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__Type_ID__44FF419A]
GO
ALTER TABLE [dbo].[Item_Contains_Material]  WITH CHECK ADD  CONSTRAINT [FK__Item_Cont__Item___5070F446] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Item] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Item_Contains_Material] CHECK CONSTRAINT [FK__Item_Cont__Item___5070F446]
GO
ALTER TABLE [dbo].[Item_Contains_Material]  WITH CHECK ADD FOREIGN KEY([Material_Name])
REFERENCES [dbo].[Material] ([Periodic_Table_Name])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [check_info_conflict] CHECK  (([Redemption_Info]=N'Redeemed' AND [Sale_Info]<>N'On sale' OR [Redemption_Info]=N'Redeemed' AND [Sale_Info]<>N'Sold' OR [Redemption_Info]=N'Not redeemed'))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [check_info_conflict]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [Check_Redemption_Date] CHECK  (([Date_Of_Redemption]>=[Date]))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [Check_Redemption_Date]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [check_redemption_info] CHECK  (([Redemption_Info]=N'Redeemed' OR [Redemption_Info]=N'Not redeemed'))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [check_redemption_info]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [check_sale_info] CHECK  (([Sale_Info]=N'Sold' OR [Sale_Info]=N'On sale' OR [Sale_Info]=N'Not on sale'))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [check_sale_info]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [CK__Item__Wear__440B1D61] CHECK  (([Wear]>=(0) AND [Wear]<=(100)))
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [CK__Item__Wear__440B1D61]
GO
USE [master]
GO
