use [Pawnshop_Graph]

-- Узлы:

CREATE TABLE ItemTypeNode (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    [Name] NVARCHAR(50) NOT NULL
) AS NODE

CREATE TABLE ItemNode (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Wear INT NOT NULL CHECK (Wear >= 0 AND Wear <= 100)
) AS NODE;

CREATE TABLE MaterialNode (
    PeriodicTableName NVARCHAR(15) PRIMARY KEY,
    CostPerGram MONEY NOT NULL
) AS NODE

CREATE TABLE ClientNode (
    SNILS INT PRIMARY KEY,
    Fullname NVARCHAR(50) NOT NULL,
    [Address] NVARCHAR(50) NOT NULL,
    PassportSeries SMALLINT NOT NULL,
    PassportID INT NOT NULL,
    UNIQUE (PassportSeries, PassportID)
) AS NODE

CREATE TABLE ContractNode (
    Number INT IDENTITY(1,1) PRIMARY KEY,
    [Date] DATE NOT NULL,
    DateOfRedemption DATE NOT NULL,
    Commission MONEY NOT NULL,
    RedemptionInfo NVARCHAR(15) NOT NULL,
    SaleInfo NVARCHAR(15) NOT NULL,
    
    CONSTRAINT CHK_Contract_RedemptionInfo 
        CHECK (RedemptionInfo IN (N'Not redeemed', N'Redeemed')),
    CONSTRAINT CHK_Contract_SaleInfo 
        CHECK (SaleInfo IN (N'Not on sale', N'On sale', N'Sold')),

    CONSTRAINT CHK_Contract_Dates 
        CHECK (DateOfRedemption >= [Date]),
    
    CONSTRAINT CHK_Contract_InfoConflict 
        CHECK (
            (RedemptionInfo = N'Redeemed' AND SaleInfo != N'On sale') OR 
            (RedemptionInfo = N'Redeemed' AND SaleInfo != N'Sold') OR 
            (RedemptionInfo = N'Not redeemed')
        )
) AS NODE

-- Ребра: 

--Item → ItemType
CREATE TABLE IsTypeOf AS EDGE

-- Item → Material
CREATE TABLE ContainsMaterial (
    Weight FLOAT(8) NOT NULL
) AS EDGE

-- Client → Contract
CREATE TABLE HasContract AS EDGE

-- Contract → Item
CREATE TABLE ForItem AS EDGE

-- Индексы

-- Индексы для рёбер ($from_id и $to_id)
CREATE INDEX IX_IsTypeOf_From ON IsTypeOf ($from_id)
CREATE INDEX IX_IsTypeOf_To ON IsTypeOf ($to_id)

CREATE INDEX IX_ContainsMaterial_From ON ContainsMaterial ($from_id)
CREATE INDEX IX_ContainsMaterial_To ON ContainsMaterial ($to_id)

CREATE INDEX IX_HasContract_From ON HasContract ($from_id)
CREATE INDEX IX_HasContract_To ON HasContract ($to_id)

CREATE INDEX IX_ForItem_From ON ForItem ($from_id)
CREATE INDEX IX_ForItem_To ON ForItem ($to_id)

-- Заполнение данными

-- Сохранение оригинальных ID
SET IDENTITY_INSERT ItemTypeNode ON

INSERT INTO ItemTypeNode (ID, [Name]) VALUES
(1, N'Кольцо'),
(2, N'Цепочка'),
(3, N'Часы'),
(4, N'Слиток'),
(5, N'Монета'),
(6, N'Серьги')

SET IDENTITY_INSERT ItemTypeNode OFF

--

INSERT INTO MaterialNode (PeriodicTableName, CostPerGram) VALUES
(N'Argentum', 1.03),
(N'Aurum', 93.07),
(N'Cuprum', 0.01),
(N'Ferrum', 0.8),
(N'Iridium', 187.23),
(N'Palladium', 42.68),
(N'Platinum', 31.45),
(N'Rhodium', 438.6),
(N'Titanium', 0.21),
(N'Tungsten', 0.09),
(N'Stannum', 0.05),
(N'Bronze', 0.01), -- Cuprum + Stannum
(N'Ruslanium', 4.28), -- Bronze + Aurum
(N'Ksenium', 520.02) -- Rhodium + Aurum

--

SET IDENTITY_INSERT ItemNode ON

INSERT INTO ItemNode (ID, Wear) VALUES
(1, 0),
(2, 20),
(3, 1),
(4, 6),
(5, 9),
(6, 69),
(7, 88),
(8, 42),
(9, 14),
(10, 28),
(11, 16),
(12, 14),
(13, 32),
(14, 21)

SET IDENTITY_INSERT ItemNode OFF

--


--

SET IDENTITY_INSERT ContractNode ON


SET IDENTITY_INSERT ContractNode OFF

-- Заполнение связей

-- Item → ItemType (IsTypeOf)
INSERT INTO IsTypeOf ($from_id, $to_id)
SELECT item.$node_id, type.$node_id
FROM ItemNode item
JOIN ItemTypeNode type ON 
    (item.ID = 1 AND type.ID = 1) OR
    (item.ID = 2 AND type.ID = 1) OR
    (item.ID = 3 AND type.ID = 3) OR
    (item.ID = 4 AND type.ID = 5) OR
    (item.ID = 5 AND type.ID = 2) OR
    (item.ID = 6 AND type.ID = 5) OR
    (item.ID = 7 AND type.ID = 4) OR
    (item.ID = 8 AND type.ID = 3) OR
    (item.ID = 9 AND type.ID = 4) OR
    (item.ID = 10 AND type.ID = 2) OR
    (item.ID = 11 AND type.ID = 5) OR
    (item.ID = 12 AND type.ID = 3) OR
    (item.ID = 13 AND type.ID = 5) OR
    (item.ID = 14 AND type.ID = 3)

-- Item → Material (ContainsMaterial)
INSERT INTO ContainsMaterial ($from_id, $to_id, Weight)
SELECT item.$node_id, mat.$node_id, icm.Weight
FROM (
    VALUES
    (1, N'Aurum', 5),
    (2, N'Platinum', 4),
    (3, N'Aurum', 150),
    (3, N'Argentum', 100),
    (3, N'Iridium', 5),
    (4, N'Cuprum', 10),
    (5, N'Platinum', 30),
    (6, N'Aurum', 8),
    (7, N'Aurum', 1000),
    (8, N'Platinum', 200),
    (8, N'Aurum', 50),
    (9, N'Cuprum', 500),
    (10, N'Iridium', 50),
    (10, N'Ferrum', 55),
    (11, N'Aurum', 30),
    (12, N'Titanium', 130),
    (13, N'Argentum', 25),
    (13, N'Platinum', 3),
    (14, N'Cuprum', 125),
    (14, N'Aurum', 10)
) AS icm(Item_ID, Material_Name, Weight)
JOIN ItemNode item ON item.ID = icm.Item_ID
JOIN MaterialNode mat ON mat.PeriodicTableName = icm.Material_Name

-- Client → Contract (HasContract)
INSERT INTO HasContract ($from_id, $to_id)
SELECT client.$node_id, contract.$node_id
FROM (
    VALUES
    (101, 1),
    (104, 2),
    (102, 3),
    (103, 4),
    (103, 5),
    (104, 6),
    (104, 7),
    (105, 8),
    (106, 9),
    (107, 10),
    (108, 11),
    (109, 12),
    (109, 13),
    (110, 14)
) AS cc(Client_SNILS, Contract_Number)
JOIN ClientNode client ON client.SNILS = cc.Client_SNILS
JOIN ContractNode contract ON contract.Number = cc.Contract_Number

-- Contract → Item (ForItem)
INSERT INTO ForItem ($from_id, $to_id)
SELECT contract.$node_id, item.$node_id
FROM (
    VALUES
    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (5, 5),
    (6, 6),
    (7, 7),
    (8, 8),
    (9, 9),
    (10, 10),
    (11, 11),
    (12, 12),
    (13, 13),
    (14, 14)
) AS ci(Contract_Number, Item_ID)
JOIN ContractNode contract ON contract.Number = ci.Contract_Number
JOIN ItemNode item ON item.ID = ci.Item_ID

-- Запросы:

-- (a) Выдать список товаров, выставленных на продажу

-- ItemNode -(ForItem)-> ContractNode с фильтром Sale_Info
-- Но нужен и тип предмета, поэтому: ItemNode -(IsTypeOf)-> ItemTypeNode и ItemNode <-(ForItem)- ContractNode

SELECT 
    item.ID,
    type.[Name]
FROM ItemNode item, IsTypeOf it_rel, ItemTypeNode type, ForItem fi, ContractNode contract
WHERE MATCH(item-(it_rel)->type AND item<-(fi)-contract)
  AND contract.SaleInfo = N'On sale'

-- (b) Выдать список товаров, принятых в залог (дата, вид товара, количество)

-- те же связи + фильтрация

SELECT 
    contract.[Date],
    type.[Name] AS [Type],
    COUNT(item.ID) AS [Count]
FROM ContractNode contract, ForItem fi, ItemNode item, IsTypeOf it_rel, ItemTypeNode type
WHERE MATCH(contract-(fi)->item-(it_rel)->type)
  AND contract.RedemptionInfo = N'Not redeemed'
  AND contract.SaleInfo <> N'Sold'
GROUP BY contract.[Date], type.[Name]

-- (c) Найти выручку ломбарда от комиссионных с начала текущего года для каждого вида товара
-- вместо year(getdate()) берём '2025'

-- Сначала CTE с агрегацией по графу, затем RIGHT JOIN с ItemTypeNode

WITH CountedCommission AS (
    SELECT 
        type.[Name] AS [Type],
        SUM(contract.Commission) AS Total_Commission
    FROM ContractNode contract, ForItem fi, ItemNode item, IsTypeOf it_rel, ItemTypeNode type
    WHERE MATCH(contract-(fi)->item-(it_rel)->type)
      AND YEAR(contract.[Date]) = '2025'
    GROUP BY type.[Name]
)
SELECT 
    type.[Name],
    ISNULL(cc.Total_Commission, 0) AS Total_Commission
FROM CountedCommission cc
RIGHT JOIN ItemTypeNode type ON cc.[Type] = type.[Name]

-- (d) Найти клиентов, которые не выкупили свой товар в срок
-- вместо getdate() берём '2025-09-01'

-- ClientNode -(HasContract)-> ContractNode с фильтрами

SELECT 
    client.SNILS
FROM ClientNode client, HasContract hc, ContractNode contract
WHERE MATCH(client-(hc)->contract)
  AND contract.DateOfRedemption > '2025-09-25'
  AND contract.RedemptionInfo = N'Not redeemed';

-- (e) Найти клиентов, пользовавшихся услугами ломбарда 2 и более раз и всегда выкупавших все свои товары
-- вместо getdate() берём '2025-09-23'

-- Используем комбинацию графовых связей и обычных JOIN

WITH Regulars AS (
    -- Клиенты с 2+ договорами
    SELECT 
        client.SNILS,
        COUNT(contract.Number) AS [Count]
    FROM ClientNode client, HasContract hc, ContractNode contract
    WHERE MATCH(client-(hc)->contract)
    GROUP BY client.SNILS
    HAVING COUNT(contract.Number) > 1
),
HavingActive AS (
    -- Клиенты с активными заказами (Not redeemed и не Sold)
    SELECT 
        client.SNILS,
        COUNT(contract.Number) AS [Count]
    FROM ClientNode client, HasContract hc, ContractNode contract
    WHERE MATCH(client-(hc)->contract)
      AND contract.RedemptionInfo = N'Not redeemed'
      AND contract.SaleInfo <> N'Sold'
    GROUP BY client.SNILS
),
RegularsWithNoActives AS (
    -- Вычитаем активные из общего количества
    SELECT 
        r.SNILS AS s1,
        ha.SNILS AS s2,
        CASE
            WHEN ha.SNILS IS NOT NULL THEN (r.[Count] - ha.[Count])
            ELSE r.[Count]
        END AS [Count]
    FROM Regulars r
    LEFT JOIN HavingActive ha ON r.SNILS = ha.SNILS
)
SELECT s1 AS SNILS
FROM RegularsWithNoActives
WHERE [Count] >= 2

EXCEPT

-- Исключаем тех, у кого есть товары на продаже или проданные
SELECT 
    client.SNILS
FROM ClientNode client, HasContract hc, ContractNode contract
WHERE MATCH(client-(hc)->contract)
  AND contract.SaleInfo <> N'Not on sale'
GROUP BY client.SNILS

-- (shortest_path)

-- Ищем клиентов с одинаковой фамилией, которые обращались в ломбард
-- Через одни и те же предметы, сданные разными клиентами

WITH FamilyChains AS (
    SELECT 
        clt1.Fullname AS FamilyMember1,
        last_value(clt2.Fullname)  WITHIN GROUP (GRAPH PATH) AS FamilyMember2,
        clt1.SNILS AS FamilySnils1,
        last_value(clt2.SNILS)  WITHIN GROUP (GRAPH PATH) AS FamilySnils2,
        COUNT(item.ID) WITHIN GROUP (GRAPH PATH) AS ItemsCount,
        STRING_AGG(contract1.Number, '->') WITHIN GROUP (GRAPH PATH) AS ContractNumbers1,
        STRING_AGG(contract2.Number, '->') WITHIN GROUP (GRAPH PATH) AS ContractNumbers2
    FROM 
        ClientNode clt1,
        HasContract FOR PATH hc1,
        ContractNode FOR PATH contract1,
        ForItem FOR PATH fi1,
        ItemNode FOR PATH item,
        ForItem FOR PATH fi2,
        ContractNode FOR PATH contract2,
        HasContract FOR PATH hc2,
        ClientNode FOR PATH clt2
    -- проверяем цепочку клиент1 -> товар <- клиент2
    WHERE MATCH(
        SHORTEST_PATH(
            clt1( -(hc1)-> contract1 -(fi1)-> item <-(fi2)- contract2 <-(hc2)- clt2)+
        )
    )
)
SELECT * FROM FamilyChains
WHERE ItemsCount >= 1
-- проверяем одинаковую фамилию
AND LEFT(FamilyMember1, CHARINDEX(' ', FamilyMember1)) = 
    LEFT(FamilyMember1, CHARINDEX(' ', FamilyMember1))
AND FamilySnils1 < FamilySnils2