use [Pawnshop_Graph]

-- Узлы:

CREATE TABLE ItemTypeNode (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    [Name] NVARCHAR(50) NOT NULL
) AS NODE

CREATE TABLE ItemNode (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Wear INT NOT NULL CHECK (Wear >= 0 AND Wear <= 100)
) AS NODE

CREATE TABLE MaterialNode (
    PeriodicTableName NVARCHAR(15) PRIMARY KEY,
    CostPerGram MONEY NOT NULL
) AS NODE

CREATE TABLE ClientNode (
    SNILS INT PRIMARY KEY,
    Fullname NVARCHAR(50) NOT NULL,
    [Address] NVARCHAR(50) NOT NULL,
    PassportSeries SMALLINT NOT NULL,
    PassportID INT NOT NULL,
    UNIQUE (PassportSeries, PassportID)
) AS NODE

-- Ребра: 

--Item → ItemType
CREATE TABLE IsTypeOf AS EDGE

-- Item → Material
CREATE TABLE ContainsMaterial (
    Weight FLOAT(8) NOT NULL
) AS EDGE

-- Client → Item
CREATE TABLE HasContractOn (
    Number INT IDENTITY(1,1),
    [Date] DATE NOT NULL,
    DateOfRedemption DATE NOT NULL,
    Commission MONEY NOT NULL,
    RedemptionInfo NVARCHAR(15) NOT NULL,
    SaleInfo NVARCHAR(15) NOT NULL,
    
    CONSTRAINT CHK_Contract_RedemptionInfo 
        CHECK (RedemptionInfo IN (N'Not redeemed', N'Redeemed')),
    CONSTRAINT CHK_Contract_SaleInfo 
        CHECK (SaleInfo IN (N'Not on sale', N'On sale', N'Sold')),

    CONSTRAINT CHK_Contract_Dates 
        CHECK (DateOfRedemption >= [Date]),
    
    CONSTRAINT CHK_Contract_InfoConflict 
        CHECK (
            (RedemptionInfo = N'Redeemed' AND SaleInfo != N'On sale') OR 
            (RedemptionInfo = N'Redeemed' AND SaleInfo != N'Sold') OR 
            (RedemptionInfo = N'Not redeemed')
        )
) AS EDGE

CREATE TABLE MadeOf (
     Part FLOAT(8) NOT NULL
) AS EDGE

-- Индексы

-- Индексы для рёбер ($from_id и $to_id)
CREATE INDEX IX_IsTypeOf_From ON IsTypeOf ($from_id)
CREATE INDEX IX_IsTypeOf_To ON IsTypeOf ($to_id)

CREATE INDEX IX_ContainsMaterial_From ON ContainsMaterial ($from_id)
CREATE INDEX IX_ContainsMaterial_To ON ContainsMaterial ($to_id)

CREATE INDEX IX_HasContractOn_From ON HasContractOn ($from_id)
CREATE INDEX IX_HasContractOn_To ON HasContractOn ($to_id)

CREATE INDEX IX_MadeOf_From ON MadeOf ($from_id)
CREATE INDEX IX_MadeOf_To ON MadeOf ($to_id)

-- Заполнение данными

SET IDENTITY_INSERT ItemTypeNode ON

INSERT INTO ItemTypeNode (ID, [Name])
SELECT ID, [Name]
FROM [Pawnshop_DB].[dbo].[Item_Type]

SET IDENTITY_INSERT ItemTypeNode OFF

--

INSERT INTO MaterialNode (PeriodicTableName, CostPerGram)
SELECT Periodic_Table_Name, Cost_Per_Gramm
FROM [Pawnshop_DB].[dbo].[Material]

INSERT INTO MaterialNode (PeriodicTableName, CostPerGram) VALUES
(N'Stannum', 0.05),
(N'Bronze', 0.01), -- Cuprum + Stannum
(N'Ruslanium', 4.28), -- Bronze + Aurum
(N'Ksenium', 520.02), -- Rhodium + Aurum
(N'Darium', 123.45), -- Bronze + Iridium
(N'Anastasium', 345.67) -- Rhodium + Cuprum

--

SET IDENTITY_INSERT ItemNode ON

INSERT INTO ItemNode (ID, Wear)
SELECT ID, Wear
FROM [Pawnshop_DB].[dbo].Item

SET IDENTITY_INSERT ItemNode OFF

--

INSERT INTO ClientNode (SNILS, Fullname, [Address], PassportSeries, PassportID)
SELECT SNILS, Fullname, [Address], Passport_Series, Passport_ID
FROM [Pawnshop_DB].[dbo].Client

-- Заполнение связей

-- Item → ItemType (IsTypeOf)
INSERT INTO IsTypeOf ($from_id, $to_id)
SELECT
    IGraph.$node_id,
    IT.$node_id
FROM [Pawnshop_DB].[dbo].[Item] IRel
JOIN [dbo].[ItemNode] IGraph ON IRel.ID = IGraph.ID
JOIN [dbo].[ItemTypeNode] IT ON IRel.[Type_ID] = IT.ID

-- Item → Material (ContainsMaterial)
INSERT INTO ContainsMaterial ($from_id, $to_id, Weight)
SELECT
    IGraph.$node_id,
    M.$node_id,
    ICM.Weight
FROM [Pawnshop_DB].[dbo].[Item_Contains_Material] ICM
JOIN [dbo].[ItemNode] IGraph ON ICM.Item_ID = IGraph.ID
JOIN [dbo].[MaterialNode] M ON ICM.[Material_Name] = M.[PeriodicTableName]

-- Client → Item (HasContractOn)
SET IDENTITY_INSERT HasContractOn ON

INSERT INTO HasContractOn ($from_id, $to_id, Number, Date, DateOfRedemption, Commission, RedemptionInfo, SaleInfo)
SELECT
    Clt.$node_id,
    I.$node_id,
    C.Number,
    C.Date,
    C.Date_Of_Redemption,
    C.Comission,
    C.Redemption_Info,
    C.Sale_Info
FROM [Pawnshop_DB].[dbo].[Contract] C
JOIN [dbo].[ClientNode] Clt ON C.Client_SNILS = Clt.SNILS
JOIN [dbo].[ItemNode] I ON C.Item_ID = I.ID

SET IDENTITY_INSERT HasContractOn OFF

-- Material → Material (MadeOf)
INSERT INTO MadeOf ($from_id, $to_id, Part)
SELECT M1.$node_id, M2.$node_id, rels.Part
FROM (
    VALUES
    (N'Bronze', N'Cuprum', 0.8),
    (N'Bronze', N'Stannum', 0.2),
    (N'Ruslanium', N'Bronze', 0.3),
    (N'Ruslanium', N'Aurum', 0.7),
    (N'Ksenium', N'Rhodium', 0.6),
    (N'Ksenium', N'Aurum', 0.4),
    (N'Darium', N'Bronze', 0.5),
    (N'Darium', N'Iridium', 0.5),
    (N'Anastasium', N'Rhodium', 0.9),
    (N'Anastasium', N'Cuprum', 0.1)
) AS rels(parent, child, part)
JOIN MaterialNode M1 ON M1.[PeriodicTableName] = rels.parent
JOIN MaterialNode M2 ON M2.[PeriodicTableName] = rels.child

-- Запросы:

-- (a) Выдать список товаров, выставленных на продажу

SELECT 
    item.ID,
    type.[Name]
FROM ClientNode clt, HasContractOn contract, ItemNode item, IsTypeOf it_rel, ItemTypeNode type
WHERE MATCH(item-(it_rel)->type AND item<-(contract)-clt)
  AND contract.SaleInfo = N'On sale'

-- (b) Выдать список товаров, принятых в залог (дата, вид товара, количество)

SELECT 
    contract.[Date],
    type.[Name] AS [Type],
    COUNT(item.ID) AS [Count]
FROM ClientNode clt, HasContractOn contract, ItemNode item, IsTypeOf it_rel, ItemTypeNode type
WHERE MATCH(clt-(contract)->item-(it_rel)->type)
  AND contract.RedemptionInfo = N'Not redeemed'
  AND contract.SaleInfo <> N'Sold'
GROUP BY contract.[Date], type.[Name]

-- (c) Найти выручку ломбарда от комиссионных с начала текущего года для каждого вида товара
-- вместо YEAR(GETDATE()) берём '2025'

WITH CountedCommission AS (
    SELECT 
        type.[Name] AS [Type],
        SUM(contract.Commission) AS Total_Commission
    FROM ClientNode clt, HasContractOn contract, ItemNode item, IsTypeOf it_rel, ItemTypeNode type
    WHERE MATCH(clt-(contract)->item-(it_rel)->type)
      AND YEAR(contract.[Date]) = '2025'
    GROUP BY type.[Name]
)
SELECT 
    type.[Name],
    ISNULL(cc.Total_Commission, 0) AS Total_Commission
FROM CountedCommission cc
RIGHT JOIN ItemTypeNode type ON cc.[Type] = type.[Name]

-- (d) Найти клиентов, которые не выкупили свой товар в срок
-- вместо getdate() берём '2025-09-01'

SELECT 
    clt.SNILS
FROM ClientNode clt, HasContractOn contract, ItemNode item
WHERE MATCH(clt-(contract)->item)
  AND contract.DateOfRedemption > '2025-09-25'
  AND contract.RedemptionInfo = N'Not redeemed'

-- (e) Найти клиентов, пользовавшихся услугами ломбарда 2 и более раз и всегда выкупавших все свои товары

WITH Regulars AS (
    -- Клиенты с 2+ договорами
    SELECT 
        clt.SNILS,
        COUNT(contract.Number) AS [Count]
    FROM ClientNode clt, HasContractOn contract, ItemNode item
    WHERE MATCH(clt-(contract)->item)
    GROUP BY clt.SNILS
    HAVING COUNT(contract.Number) > 1
),
HavingActive AS (
    -- Клиенты с активными заказами
    SELECT 
        clt.SNILS,
        COUNT(contract.Number) AS [Count]
    FROM ClientNode clt, HasContractOn contract, ItemNode item
    WHERE MATCH(clt-(contract)->item)
    -- активный заказ = не выкуплен и не на продаже
      AND contract.RedemptionInfo = N'Not redeemed'
      AND contract.SaleInfo = N'Not on sale'
    GROUP BY clt.SNILS
),
RegularsWithNoActives AS (
    -- Вычитаем активные из общего количества
    SELECT 
        r.SNILS AS s1,
        ha.SNILS AS s2,
        CASE
            WHEN ha.SNILS IS NOT NULL THEN (r.[Count] - ha.[Count])
            ELSE r.[Count]
        END AS [Count]
    FROM Regulars r
    LEFT JOIN HavingActive ha ON r.SNILS = ha.SNILS
)
SELECT s1 AS SNILS
FROM RegularsWithNoActives
WHERE [Count] >= 2

-- Исключаем тех, у кого есть товары на продаже или проданные
EXCEPT
SELECT 
    clt.SNILS
FROM ClientNode clt, HasContractOn contract, ItemNode item
WHERE MATCH(clt-(contract)->item)
-- статус продажи != Не на продаже -> есть просроченный контракт
  AND contract.SaleInfo <> N'Not on sale'
GROUP BY clt.SNILS

-- (shortest_path)

select * from MaterialNode
-- Ищем материалы, которые состоят из олова через шаг
WITH Chains AS (
    SELECT 
        m1.[PeriodicTableName] AS Material1,
        last_value(m2.[PeriodicTableName])  WITHIN GROUP (GRAPH PATH) AS Material2,
        STRING_AGG(m2.[PeriodicTableName], '->') WITHIN GROUP (GRAPH PATH) AS [Path],
        COUNT(m2.[PeriodicTableName]) WITHIN GROUP (GRAPH PATH) AS MaterialsCount
    FROM 
        MaterialNode m1,
        MadeOf FOR PATH mo,
        MaterialNode FOR PATH m2
    -- проверяем цепочку материал1 -> сделан из -> материал2
    WHERE MATCH(SHORTEST_PATH(m1( -(mo)-> m2)+))
)
SELECT Material1, [Path]
FROM Chains
WHERE Material2 = N'Stannum'
AND MaterialsCount = 2